@import 'react-alice-carousel/lib/alice-carousel.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.alice-carousel__stage-item {
  height: fit-content;
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 163 72% 47%;
    --primary-static: 163 72% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary-foreground-static: 222.2 47.4% 11.2%;

    --secondary: 210 40% 96.1%;
    --secondary-static: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-foreground-static: 222.2 47.4% 11.2%;

    --muted: 226 27% 28%;
    --muted-static: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-foreground-static: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-static: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-foreground-static: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-static: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-foreground-static: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --neutral-600: 226 13% 49%;
  }

  :root[data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 163 72% 47%;

    --secondary: 228 10% 61%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 10% 61%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 10% 61%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 10% 61%;
    --input: 228 10% 61%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground min-h-screen bg-no-repeat;
  }
  :not([data-theme='dark']) > body {
    background: linear-gradient(
      178deg,
      rgba(33, 205, 156, 0.61) 20.27%,
      rgba(255, 255, 255, 0.89) 55.3%
    );
  }
  [data-theme='dark'] > body::before {
    @apply top-0 left-0 content-[''] bg-center w-screen h-screen -z-10 fixed;
    background: linear-gradient(
      198deg,
      #12182b -0.69%,
      #1b4c3f 90%,
      #21cd9c 121.97%
    );
  }

  @property --border-animate-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
}
