@import 'react-alice-carousel/lib/alice-carousel.css';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 163 72% 47%;
    --primary-static: 163 72% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary-foreground-static: 222.2 47.4% 11.2%;

    --secondary: 159 100% 25%;
    --secondary-static: 159 100% 25%;
    --secondary-foreground: 0 0% 100%;
    --secondary-foreground-static: 0 0% 100%;

    --muted: 226 27% 28%;
    --muted-static: 226 27% 28%;
    --muted-foreground: 240 3.8% 46.1%;
    --muted-foreground-static: 240 3.8% 46.1%;

    --accent: 159 100% 25%;
    --accent-static: 159 100% 25%;
    --accent-foreground: 0 0% 100%;
    --accent-foreground-static: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-static: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-foreground-static: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --neutral-600: 226 13% 49%;
  }

  :root[data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 163 72% 47%;

    --secondary: 159 100% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 228 10% 61%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 159 100% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 10% 61%;
    --input: 228 10% 61%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground min-h-screen bg-no-repeat bg-background;
  }

  @property --border-animate-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
}
